<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ClientFilter</filter-name>
        <filter-class>filter.ClientFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ClientFilter</filter-name>
        <servlet-name>ClientDashboard</servlet-name>
        <servlet-name>SubmitClaim</servlet-name>
        <servlet-name>UserHistory</servlet-name>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-name>MakePayment</servlet-name>
        <servlet-name>WithdrawFunds</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-name>ListMembershipApplications</servlet-name>
        <servlet-name>ListAllMembers</servlet-name>
        <servlet-name>ListClaims</servlet-name>
        <servlet-name>ListPayments</servlet-name>
        <servlet-name>Turnover</servlet-name>
        <servlet-name>SuspendResumeMembership</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.auth.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.auth.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>servlet.auth.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>servlet.auth.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientDashboard</servlet-name>
        <servlet-class>servlet.dash.ClientDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMembershipApplications</servlet-name>
        <servlet-class>servlet.membership.ListMembershipApplications</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakePayment</servlet-name>
        <servlet-class>servlet.payments.MakePayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WithdrawFunds</servlet-name>
        <servlet-class>servlet.withdraw.WithdrawFunds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllMembers</servlet-name>
        <servlet-class>servlet.membership.ListAllMembers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitClaim</servlet-name>
        <servlet-class>servlet.claims.SubmitClaim</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListClaims</servlet-name>
        <servlet-class>servlet.claims.ListClaims</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPayments</servlet-name>
        <servlet-class>servlet.payments.ListPayments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Turnover</servlet-name>
        <servlet-class>servlet.other.Turnover</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuspendResumeMembership</servlet-name>
        <servlet-class>servlet.membership.SuspendResumeMembership</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-class>servlet.dash.AdminDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHistory</servlet-name>
        <servlet-class>servlet.other.UserHistory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientDashboard</servlet-name>
        <url-pattern>/ClientDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMembershipApplications</servlet-name>
        <url-pattern>/ListMembershipApplications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakePayment</servlet-name>
        <url-pattern>/MakePayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithdrawFunds</servlet-name>
        <url-pattern>/WithdrawFunds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllMembers</servlet-name>
        <url-pattern>/ListAllMembers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitClaim</servlet-name>
        <url-pattern>/SubmitClaim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListClaims</servlet-name>
        <url-pattern>/ListClaims</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPayments</servlet-name>
        <url-pattern>/ListPayments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Turnover</servlet-name>
        <url-pattern>/Turnover</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuspendResumeMembership</servlet-name>
        <url-pattern>/SuspendResumeMembership</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/AdminDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHistory</servlet-name>
        <url-pattern>/UserHistory</url-pattern>
    </servlet-mapping>
    <session-config>
        <!--This is the timeout for each given session in minutes-->
        <session-timeout>
            20
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
